<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <h1 style="text-align:center; font-size:7vw" > Hello there! </h1>
  </head>
  <div>
    <meta charset="utf-8">
    <p style="text-align:center; font-size:3.8vw" > What's your name? </>
      <form style="text-align:center" action="/names" method="post">
  <input type="text" name="name">
  </form>
  </div>
  <div>
    <meta charset="utf-8">
    <p style="text-align:center; font-size:3.8vw" > When were your born? <p>
      <form style="text-align:center" action="/names" method="post">
  <input type="date" name="day">
  <input type="submit" value="Go!">
  </form>
  </div>

</html>
